.ant-picker {
  background-color: #f8f8f8;
  width: 466px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  padding: 4px 3px 4px 11px;

  -webkit-text-fill-color: #808185;
}

.ant-input-number-input-wrap {
  background-color: #f8f8f8;
  width: 466px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  -webkit-text-fill-color: #808185;
}
